<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Shopping Cart</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p>Shopping Cart Details</p>
        <table>
            <tr>
                <td>Product Id</td>
                <td>Quantity</td>
            </tr>
            <tr th:each="product: ${cartItems}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.quantity}"></td>
            </tr>
        </table>

        <p>
            <a th:href="@{/products}">Go back to Products Page</a>
        </p>
    </body>
</html>